.resetPasswordContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  background:
    url("https://wallpapercave.com/wp/wp2508260.jpg") top;
}

.resetPasswordBox {
  width: 25vw;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid rgba(128, 128, 128, 0.472);
}

.resetPasswordHeading {
  text-align: center;
  color: rgba(255, 255, 255, 0.664);
  font: 400 1.3vmax "Roboto";
  padding: 1.3vmax;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  width: 50%;
  margin: auto;
}

.resetPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 70%;
  transition: all 0.5s;
}

.resetPasswordForm>div {
  display: flex;
  width: 100%;
  align-items: center;
}

.resetPasswordForm>div>input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
  margin-bottom: 1rem;
}

.resetPasswordForm>div>svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

.resetPasswordBtn {
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  background-color: rgb(21, 16, 16);
  color: white;
  font: 300 0.9vmax "Roboto";
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
}

.resetPasswordBtn:hover {
  background-color: rgb(50, 47, 47);
}



.inp_div {
  position: relative;
}